/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
input {
    width: 400px;
}


body{
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
.con-pt{
    display: flex;
    background-color: #2D25A0;
    width: auto;
    height: 677px;
    margin-bottom: 70px;
}
.navbar{
    justify-content: flex-start;
    background-color: #2D25A0;
    display: flex;
}
.navbar a{
    color: white;
    justify-content: flex-start;
    text-decoration: none;
    padding: 20px;
}
.navbar a img{
    justify-content: flex-end;
    margin-left: 500px;
}
.con-txt{
    font-size: 64px;
}
.conme-txt{
    color: white;
}
.con-img{
    padding-left: 270px;
}
.players{
    margin-top: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    max-width: 1000px;
    margin-bottom: 200px;
}
.player{
    box-shadow: 5px 7px 40px black;
}
.player img{
    width: 100%;
}
.player-name{
    font-size: 30px;
}
.player p{
    padding-left: 10px;
}

/* All Highlights Copa America 2021 */

.copa-america-pt{
    
    display: flex;
    justify-content: center;
    /* position: absolute; */
    gap: 68px;
}
.copa-txt{
        width: 469px;
        height: 309px;
}
.copa-img{
    margin-left: 157px;
}

/* footer  */

.ft-img-bl{
    margin-top: 100px;
    padding-left: 140px;
}
.ft-img-bl img{
    /* width: 470px; */
}
.icon{
    padding-left: 630px;
}
.field{
    width: 32px;
    height: 32px;
}
.copyright{
    padding-left: 590px;
}


/* media query  */

/* mobile  */

@media only screen and (max-width:688px) {
    .players, .copa-america-pt, .icon{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    /* .copa-america-pt{
        display: block;
    } */
    .con-pt, .navbar{
        display: none;
    }
    .ft-img-bl{
        width: auto;
    }
    footer, .copa-america-pt {
        display: none;
    } 
}
